a {
  text-decoration: none;
  font-weight: 600;
}

.container {
  margin: 0px 5%;
}

.flex-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 5%;
  flex-wrap: wrap;
}

@media screen and (max-width:500px) {
  .flex-container{
   flex-direction: column;
    margin:0px;
  }

  .container{
    margin: 0px;
  }
}

